@import '/styles/style.css';
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.box_text {
   justify-content: flex-start;
   margin-left: 250px;
   width: 1000px;

}

.conteudo_titulo {
    color: #293647;
    font-family: "Rowdies", serif;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;

    align-items: center;
    text-align: center;
    justify-content: center;

    margin: 20px 20px;
}

.text_content_strong {
    margin-bottom: 7px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.text_content_medium {
    margin-bottom: 7px;


    font-family: "Ubuntu", sans-serif;
}