* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 85px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1300px;
  margin: 20px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*parte migrada do scratch.css*/
.box_text {
  justify-content: flex-start;
  margin-left: 250px;
  width: 1000px;
}

.conteudo_titulo {
  color: #293647;
  font-family: "Rowdies", serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;

  align-items: center;
  text-align: center;
  justify-content: center;

  margin: 20px 20px;
}

.text_content_strong {
  margin-bottom: 7px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text_content_medium {
  margin-bottom: 7px;

  font-family: "Ubuntu", sans-serif;
}
