
/* Banner */

.banner h1 {
  text-align: center;
}

/* Courses */

.courses h1 {
  text-align: center;
  margin-bottom: 20px;
}

.courses-imgs {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.courses-imgs a {
  display: block;
  height: 230px;
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.html-css {
  background-image: url("../images/html-css.webp");
}

.scratch {
  background-image: url("../images/scratch.jpg");
}

.javascript {
  background-image: url("../images/javascript.jpg");
}

/* First Section */

.s1 h1 {
  text-align: center;
}

/* Second Section */

.s2 h1 {
  text-align: center;
}

/* Video */

.youtubeBox {
  display: flex;
  justify-content: center;
}