/* -------------------------------- */
/*        ESTILOS GLOBAIS           */
/* -------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}
/* teste de espaçamento nas listas
ul,
ol,
li {
  margin-left: 10px;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #262637; /* Azul escuro da paleta como fundo */
  color: #ebebf5; /* Branco gelo da paleta para o texto */
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #73739c; /* Azul claro acinzentado para os links */
}

a:hover {
  color: #9494bf; /* Azul claro mais vibrante para o hover */
}

img {
  max-width: 100%;
  height: auto;
}

#home p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#html code + p,
#css code + p,
#scratch code + p {
  margin-top: 5px;
  margin-bottom: 5px;
}

li {
  margin-top: 10px;
}

.container {
  max-width: 1150px;
  margin: 20px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*Estilos das pags html, css e scratch*/
.text_content_strong {
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #e7e7ee;
}

.text_content_medium {
  margin-bottom: 7px;
  color: #d9d9d9;
  font-family: "Ubuntu", sans-serif;
}

.box_text {
  justify-content: flex-start;
  margin-left: 250px; /* Ajuste este valor se necessário */
  width: 1000px; /* Ajuste este valor se necessário */
}

#scratch main,
#html main,
#css main {
  display: flex;
  gap: 60px;
}

.topics_sidebar {
  display: flex;
  flex-direction: column;
  top: 160px;
  margin-left: 30px;
  position: sticky;
  width: 180px;
  color: #818cf8;
}

.topics_sidebar a {
  margin-bottom: 10px;
  color: #73739c; /* Azul claro acinzentado para os links da sidebar */
}

.topics_sidebar details {
  display: flex;
  flex-direction: column;
}

.topics_sidebar details a,
.topics_sidebar summary {
  margin-bottom: 5px;
}

.topics_sidebar details a:nth-child(n + 2) {
  margin-left: 16px;
}

.topics_sidebar a:hover {
  text-decoration: underline;
}

#scratch .box_text,
#html .box_text,
#css .box_text {
  margin-left: 20px;
}

.conteudo_titulo {
  color: #ebebf5; /* Branco gelo para os títulos */
  font-family: "Rowdies", serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px 20px;
}

pre code {
  padding: 10px 30px !important;
}

code {
  font-family: "Courier New", monospace;
  font-size: 14px;
  padding: 2px 4px;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  background-color: #21213c !important; /* Azul escuro para o fundo do código */
  color: #ebebf5 !important; /* Branco gelo para o texto do código */
  margin-bottom: 5px;
}

.scratch-code {
  font-family: "Courier New", monospace;
  font-size: 14px;
  padding: 2px 4px;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  background-color: #21213c !important; /* Azul escuro para o fundo do código */
  color: #ebebf5 !important; /* Branco gelo para o texto do código */
  margin-bottom: 5px;
}

pre code .hljs-tag {
  color: #569cd6; /* Azul claro para tags */
}

pre code .hljs-name,
pre code .hljs-selector-id,
pre code .hljs-selector-class {
  color: #c586c0; /* Lilás para nomes, IDs e classes */
}

pre code .hljs-attribute {
  color: #9cdcfe; /* Azul ciano para atributos */
}

pre code .hljs-string,
pre code .hljs-title {
  color: #d69d85; /* Laranja claro para strings e títulos */
}

pre code .hljs-keyword,
pre code .hljs-literal,
pre code .hljs-symbol,
pre code .hljs-number {
  color: #4ec9b0; /* Verde água para palavras-chave, literais, símbolos e números */
}

pre code .hljs-comment,
pre code .hljs-quote {
  color: #6a9955; /* Verde escuro para comentários */
}

pre code .hljs-tag {
  color: #24f209; /* Cor mais clara para as tags principais */
}
.pre code .hljs-name,
.pre code .hljs-selector-id,
.pre code .hljs-selector-class,
.pre code .hljs-attribute,
.pre code .hljs-string,
.pre code .hljs-title,
.pre code .hljs-keyword,
.pre code .hljs-literal,
.pre code .hljs-symbol,
.pre code .hljs-number,
.pre code .hljs-comment,
.pre code .hljs-quote,
.pre code .hljs-meta,
.pre code .hljs-template-tag,
.pre code .hljs-template-variable,
.pre code .hljs-addition,
.pre code .hljs-deletion,
.pre code .hljs-selector-pseudo {
  color: #690ceb !important;
}

/* -------------------------------- */
/*            HEADER                */
/* -------------------------------- */

header {
  padding: 20px 30px;
  background-color: #3f3f5a; /* Azul acinzentado escuro para o navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  width: 100%;
}

.header-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-nav h1 {
  font-size: 30px;
  color: #ebebf5; /* Branco gelo para o título do header */
}

.header-nav a {
  font-size: 18px;
}

.header-search {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  padding: 8px 10px 8px 15px;
  border-radius: 20px;
  border: solid rgba(0, 0, 0, 0.7) 1px;
}

.header-search input {
  border: none;
  width: 300px;
}

input:focus-visible {
  outline: none;
}

/*Chat do bot*/

.chaticon {
  background-color: gray;
  height: 35px;
  width: 35px;
  border-radius: 50%;

  position: fixed;
  right: 1.5%;
  bottom: 3%;

  cursor: pointer;

  transition: border-radius 0.5s;
}

.chaticon.expanded {
  border-radius: 2px 50% 50% 50%;
}

.chat {
  border-radius: 15px 15px 2px 15px;
  background-color: gray;
  width: 350px;
  height: 450px;

  position: fixed;
  right: 4%;
  bottom: 7.8%;
  display: flex;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.chat.visible {
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 1;
  visibility: visible;
}

.chat input {
  align-self: flex-end;
  margin-bottom: 15px;
  width: 80%;
  height: 25px;
  padding: 5px;
  border-radius: 10px;

  border: none;
}

/* -------------------------------- */
/*            FOOTER                */
/* -------------------------------- */

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background-color: #282928;
  color: white;
  padding: 40px 10px;
}

footer h3 {
  margin-bottom: 5px;
}

footer a {
  display: block;
  margin-bottom: 2px;
}

#html footer,
#css footer,
#scratch footer {
  margin-top: 50px;
}
